<div class="col-md-12 applicant-detail-nav">
  <ul class="list list-inline">
    <li><a routerLink="personalDetail" routerLinkClass="active">Personal Detail</a></li>
    <li><a routerLink="premedDetail" routerLinkClass="active">Pre-Medical Detail</a></li>
    <li><a routerLink="passportStatus" routerLinkClass="active">Passport Status</a></li>
    <li><a routerLink="finalmedDetail" routerLinkClass="active">Final Medical</a></li>
    <li><a routerLink="tesdatrainingDetail" routerLinkClass="active">TESDA Training</a></li>
  </ul>
 </div>
 <div class="col-md-12 applicant-container-container">
   <router-outlet></router-outlet>
 </div>