<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Final Medical Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="agent-name">
     Final Medical Date
    </label>
    <input type="date"   name="pre-medical-date" class="form-control" id="pre-medical-date" />

  </div>
  <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Final Medical Status
      </label>
      <input type="text"   name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pass" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Final Medical Validity
      </label>
      <input type="date"   name="pre-medical-status" class="form-control" id="pre-medical-status" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="document">
       Document
      </label>
      <input type="file" name="photo" class="form-control" id="photo"/>
  
    </div>
  
      <div class="col-md-12 form-group">
           
          <a routerLink="#" routerLinkClass="active" class="btn btn-fps">Edit</a> <a routerLink="../.." routerLinkClass="active" class="btn btn-fps">Return</a>
     </div>
        </div>
</div>