<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>TESDA Training Detail</p>
  </div>
  <div class="col-md-12 box-value-container">
      <div class="col-md-12 form-group">
          <label for="agent-name">
           Applicant Name
          </label>
          <input type="text"  name="applicant-name" class="form-control" id="applicant-name" placeholder="Mohit Verma" />
      
        </div>
  <div class="col-md-12 form-group">
    <label for="agent-name">
     TESDA Date
    </label>
    <input type="date"   name="tesda-date" class="form-control" id="tesda-date" />

  </div>
  <div class="col-md-12 form-group">
      <label for="agent-name">
      TESDA End Date
      </label>
      <input type="date"   name="end-date" class="form-control" id="end-date" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="agent-name">
         TESDA Result
        </label>
        <input type="text"   name="result" class="form-control" id="result" placeholder="Pass" />
    
      </div>

    <div class="col-md-12 form-group">
      <label for="document">
       Document
      </label>
      <input type="file" name="photo" class="form-control" id="photo"/>
  
    </div>
  
      <div class="col-md-12 form-group">
           
        <a routerLink="#" routerLinkClass="active" class="btn btn-fps">Edit</a> <a routerLink="../.." routerLinkClass="active" class="btn btn-fps">Return</a>
     </div>
        </div>
</div>