<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Passport Status</p>
  </div>
  
  <div class="col-md-12 box-value-container">
      
     <div class="col-md-12 form-group">
      <label for="agent-name">
       Passport Available
       </label>
       <input type="text"  name="pre-medical-date" class="form-control" id="pre-medical-date" placeholder="Yes" />
        
      </div>
  <div class="col-md-12 form-group">
    <label for="agent-name">
     Passport Number
    </label>
    <input type="number"   name="pre-medical-date" class="form-control" id="pre-medical-date" placeholder="10289432" />

  </div>
  <div class="col-md-12 form-group">
      <label for="pre-medical-status">
        Passport Issue Date
      </label>
      <input type="date"   name="pre-medical-status" class="form-control" id="pre-medical-status"  />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Passport Validity Date
      </label>
      <input type="date"   name="pre-medical-status" class="form-control" id="pre-medical-status" />
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Passport Send By
      </label>
      <input type="text"   name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Pranay Kumar"/>
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Receiving Date
      </label>
      <input type="date"   name="pre-medical-status" class="form-control" id="pre-medical-status"/>
  
    </div>
    <div class="col-md-12 form-group">
      <label for="pre-medical-status">
      Country
      </label>
      <input type="text"   name="pre-medical-status" class="form-control" id="pre-medical-status" placeholder="Phillipins"/>
  
    </div>
  
      <div class="col-md-12 form-group">
           
          <a routerLink="#" routerLinkClass="active" class="btn btn-fps">Edit</a><a routerLink="../.." routerLinkClass="active" class="btn btn-fps">Return</a>
     </div>
        </div>
</div>